Repository parade0393/studu-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

test: 测试提交
  src/App.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

docs: enhance EditorConfig documentation and add commit standards guide
  .editorconfig
  doc/Git Commit 规范体系-规范总结.md
Due: prettier --write

docs: 增加table对比的需求文档
  doc/table-benchmark/COLUMNS.md
  doc/table-benchmark/MOCK-SPEC.md
  doc/table-benchmark/PRD.md
  doc/table-benchmark/UI-SKETCH.md
Due: prettier --write

chore: add element-plus
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add table benchmark views and comparison panel
  .lintstagedrc.json
  .stylelintignore
  package.json
  src/App.vue
  src/columns/inventory.ts
  src/components/AppShell.vue
  src/components/ComparePanel.vue
  src/main.ts
  src/mock/api.ts
  src/mock/datasets.ts
  src/mock/datetime.ts
  src/mock/rng.ts
  src/router/index.ts
  src/stores/benchmark.ts
  src/types/benchmark.ts
  src/types/table-v2.ts
  src/utils/format.ts
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
  src/views/PickingView.vue
  src/views/TreeView.vue
  src/views/components/ElInventoryColumn.vue
  stylelint.config.mjs
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(adapters): add element-plus table adapter implementations
  src/adapters/element-plus/ElDataTable.ts
  src/adapters/element-plus/ElDataTableV2.ts
  src/adapters/element-plus/ElTreeTable.ts
  src/adapters/element-plus/ElTreeTableV2.ts
  src/adapters/element-plus/index.ts
  src/adapters/table/types.ts
  src/adapters/table/useTableAdapter.ts
  src/components/AppShell.vue
  src/main.ts
  src/mock/api.ts
  src/types/table-v2.ts
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
  src/views/PickingView.vue
  src/views/TreeView.vue
  stylelint.config.mjs
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(components): add PageGoals component to display page comparison objectives
  src/components/AppShell.vue
  src/components/PageGoals.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

refactor(adapters): migrate ElDataTable from TypeScript to TSX
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/adapters/element-plus/ElTreeTable.tsx
  src/adapters/element-plus/ElTreeTableV2.tsx
Due: eslint --fix --cache, prettier --write

chore(stores): remove unused counter store
  src/stores/counter.ts
Due: eslint --fix --cache, prettier --write

refactor(adapters): extract table utility functions to separate module
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/adapters/element-plus/ElTreeTable.tsx
  src/adapters/element-plus/ElTreeTableV2.tsx
  src/adapters/table/types.ts
  src/adapters/table/utils.ts
  src/mock/api.ts
  src/mock/datasets.ts
  src/stores/benchmark.ts
  src/types/benchmark.ts
Due: eslint --fix --cache, prettier --write

feat(benchmark): add index column to tables and update default library mode
  AGENTS.md
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/stores/benchmark.ts
Due: eslint --fix --cache, prettier --write

feat(adapters): add loading directive and styling to table components
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/adapters/element-plus/ElTreeTable.tsx
  src/adapters/element-plus/ElTreeTableV2.tsx
  src/main.ts
  src/styles/table.css
  stylelint.config.mjs
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(inventory): add inventory columns component and refactor table adapters
  .stylelintignore
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/columns/inventory.ts
  src/columns/inventoryColumns.tsx
  src/styles/table.css
  src/views/InventoryView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(adapters): improve ElDataTableV2 header rendering and checkbox state
  src/adapters/element-plus/ElDataTableV2.tsx
  src/styles/table.css
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(benchmark): add 0.1k data size option and update inventory view
  src/components/ComparePanel.vue
  src/stores/benchmark.ts
  src/views/InventoryView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(ui): add ant-design-vue component library integration
  package.json
  pnpm-lock.yaml
  src/components/AppShell.vue
  src/components/ComparePanel.vue
  src/components/PageGoals.vue
  src/main.ts
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
  src/views/PickingView.vue
  src/views/TreeView.vue
  vite.config.ts
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(mock): ensure inventory merge groups
  src/mock/datasets.ts
Due: eslint --fix --cache, prettier --write

feat: update table adapters and views
  src/adapters/ant-design-vue/AntDataTable.tsx
  src/adapters/ant-design-vue/AntTreeTable.tsx
  src/adapters/ant-design-vue/index.ts
  src/adapters/table/useTableAdapter.ts
  src/components/ComparePanel.vue
  src/stores/benchmark.ts
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat: add tanstack table adapter
  package.json
  pnpm-lock.yaml
  src/adapters/table/useTableAdapter.ts
  src/adapters/tanstack-table/TanstackDataTable.tsx
  src/adapters/tanstack-table/index.ts
  src/components/ComparePanel.vue
  src/stores/benchmark.ts
  src/styles/table.css
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
  src/views/TreeView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(adapters): add ag-grid and vxe-table adapters
  package.json
  pnpm-lock.yaml
  src/adapters/ag-grid/AgGridDataTable.tsx
  src/adapters/ag-grid/index.ts
  src/adapters/table/useTableAdapter.ts
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/index.ts
  src/components/ComparePanel.vue
  src/main.ts
  src/stores/benchmark.ts
  src/styles/table.css
  src/views/InventoryView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(tanstack-table): add dynamic header height calculation with vueuse
  package.json
  pnpm-lock.yaml
  src/adapters/tanstack-table/TanstackDataTable.tsx
  src/styles/table.css
Due: eslint --fix --cache, stylelint --fix, prettier --write

fix(tanstack-table): refine headers and merge
  src/adapters/tanstack-table/TanstackDataTable.tsx
Due: eslint --fix --cache, prettier --write

feat(tanstack-table): add tree table adapter with expand/collapse support
  src/adapters/tanstack-table/TanstackTreeTable.tsx
  src/adapters/tanstack-table/index.ts
  src/styles/table.css
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(vxe-table): add tree table adapter
  src/adapters/vxe-table/VxeTreeTable.tsx
  src/adapters/vxe-table/index.ts
Due: eslint --fix --cache, prettier --write

feat(vxe-table): optimize column width handling and tree expansion
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/VxeTreeTable.tsx
  stylelint.config.mjs
Due: eslint --fix --cache, prettier --write

chore(benchmark): reduce default data size for testing
  src/stores/benchmark.ts
Due: eslint --fix --cache, prettier --write

feat(vxe-table): update scroll virtualization and styling
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/VxeTreeTable.tsx
Due: eslint --fix --cache, prettier --write

feat(vxe-table): enable row hover effect for data and tree tables
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/VxeTreeTable.tsx
Due: eslint --fix --cache, prettier --write

style(table): improve ag-grid theme specificity and add row hover styling
  src/styles/table.css
Due: stylelint --fix, prettier --write

feat(vxe-table): update border styling from inner to full
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/VxeTreeTable.tsx
Due: eslint --fix --cache, prettier --write

feat(table): add comprehensive filtering support across all adapters
  package.json
  pnpm-lock.yaml
  src/adapters/ag-grid/AgGridDataTable.tsx
  src/adapters/ant-design-vue/AntDataTable.tsx
  src/adapters/element-plus/ElDataTable.tsx
  src/adapters/element-plus/ElDataTableV2.tsx
  src/adapters/table/types.ts
  src/adapters/vxe-table/VxeDataTable.tsx
  src/adapters/vxe-table/VxeTreeTable.tsx
  src/columns/inventoryColumns.tsx
  src/main.ts
  src/styles/table.css
  src/views/InventoryView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

feat(table): add column visibility and ordering settings
  src/adapters/ag-grid/AgGridDataTable.tsx
  src/adapters/vxe-table/VxeDataTable.tsx
  src/components/ColumnSettings.vue
  src/utils/columnSettings.ts
  src/views/ExceptionsView.vue
  src/views/InventoryView.vue
  src/views/PickingView.vue
  src/views/TreeView.vue
Due: eslint --fix --cache, stylelint --fix, prettier --write

chore(vscode): update prettier extension identifier
  .vscode/extensions.json
Due: prettier --write

feat(eslint): add rules for unused variables in TypeScript
  eslint.config.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,sass,less,vue}
  prettier --write: any of: *.{js,jsx,ts,tsx,vue,css,scss,sass,less,json,md,html}
